#Desktop1 {
    background: white;
    background: linear-gradient(90deg, rgb(52, 152, 219), rgb(169, 79, 83));
   
  
}
#AndroidSmall1 {
    padding-top: 303.97px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    background: black;
    border-radius: 30px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    display: inline-flex;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  
}
#display{
    color: #FFff;   
    font-size: 50px;
    background-color: black;
    border: 1px black;
    text-align: right;
    height: 60px;
    width: 315px;
   

}

